@import '../../../styles.scss';

.section {
    margin: auto;
    width: 100%;
    height: auto;
    .colum   {
        display: flex;        
        flex-direction: column;
        align-items: center;
        justify-content: space-between;        
        > div.group .jugador {
            border: 1px solid green;
            padding: 20px;
        }
    }
}