@import'../../../styles.scss';

.section {
    overflow-x: hidden;
    //background: url('../../../assets/header/fondo_fondo3.png') no-repeat center center;
    height: 100%;
    width: 100%!important;
    .flexible {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        .titulo {
            border: 1px solid #9D4EDD;
            padding: 10px;
            text-align: center;
            width: 100%;
            text-shadow: 0px 0px 2px #FFFFFF ;
            background-color: #000000;
            color: white;
            opacity: .7;
        }
    }
    .flexible.content {
        margin-top: 20px;
    }
    .flexible.content .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 5px;
        margin-top: 20px;
        margin: 0 30px 0 10px;
        height: 600px;
        width: 100%;
        opacity: .7;
        text-shadow: 0px 0px 2px #000000 ;
        
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #9D4EDD;
            padding: 8px;
            height: 30px;
            width: 100%;
            margin: auto;
            text-shadow: 0px 0px 3px #000000 ;
            justify-self: center;
            background-color: #000000;
            color: white;
            font-size: 1.2em;
        }
        &.lines-reverse div {
            position: relative;
        }
        &.lines div {
            position: relative;
        }
        &.lines div::before {
            content: "";
            position: absolute;
            letter-spacing: 0;
            border-left: 1px solid $contraste;
            height: 100px;
            display: block;
            top: -50%;
            left: -13%;
        }
        &.lines div::after {
            content: "";
            position: absolute;
            letter-spacing: 0;
            border-top: 2px solid $contraste;
            width: 20px;
            display: block;
            top:48%;
            left: -13%;
            //transform: translateX(0px);
        }
        &.lines.semifinal div::before {
            height: 150px !important;
            transform: translateY(-24px);
        }
        &.lines.final div::before {
            height: 305px !important;
            transform: translateY(-100px);
        }
        &.lines-reverse div::before {
            content: "";
            position: absolute;
            letter-spacing: 0;
            border-left: 1px solid $contraste;
            height: 230%;
            display: block;
            top: -50%;
            right: -11%;
        }
        &.lines-reverse div::after {
            content: "";
            position: absolute;
            border-top: 2px solid $contraste;
            width: 20px;
            display: block;
            right: -11%;
            top:48%;
        }
        &.lines-reverse.semifinal div::before {
            height: 150px !important;
            transform: translateY(-24px);
        }
        &.lines-reverse.final div::before {
            height: 305px !important;
            transform: translateY(-100px);
        }
    }
}

button.color-accent {
    background-color: #9D4EDD;
}
       