@import '../../../styles.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   /*  background: rgb(2,0,36); */
    // background: radial-gradient(circle, rgba(2,0,36,.5) 0%, rgba(118,9,121,.5) 100%);
    .form {
        margin-top: 20px;
        border: 1px solid $primario;
        width: 50%;
        background-color:#000000!important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        margin-bottom: 0px;
        border-radius: 5PX;
        margin-bottom:12px;
        > ::ng-deep mat-form-field {
            margin-top: 20px !important;
            color: #ffffff!important;
            margin-left: 10px;
            
        }
        button {
            margin-right:12px ;
        }
    }
    .wrap {
        // rgb(2,0,36)!important;
        border-radius: 4px;
        background-color:#000000!important;
        opacity: .7;
        border: 1px solid $primario;
        border: 1px solid $primario;
        width: 50%;
        padding: 12px;
        mat-list {
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            /* gap: 0 20px;  */
            flex-wrap: wrap;
            mat-list-item {
                width: 40%;
                span {
                    margin: auto;
                    text-align: center;
                    height: 50%;
                    cursor: pointer;
                }
            }
        }
    }
    
}
/* .wrapper 
   
} */
.form .btn-save {
    border: 1px solid transparent;
    background-color: #ffffff;
    background-color: $primario;
    color: #ffffff;
    transition: all 1.5s ease;
    border-radius: 5px;
    &.btn-save:hover {
        border: 1px solid $secundario;
    }
    
}
.button-shuffle {
    border: 1px transparent solid;
    border-radius: 5px;
    align-self: center;
    button { 
        width: 200px;
        font-weight: bold;
        font-size: 1.5em;
        background-color: $primario;
        margin: 12px auto;
    }
}
.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: radial-gradient(circle, rgba(2,0,36,.5) 0%, rgba(118,9,121,.5) 100%);
    form {
        margin-top: 20px;
        height: 600px!important;
     /*    height: 400px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        > .mat-form-field {
            margin: auto;
            width: 60%;
        } */
    }
}
/* form.login {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(118,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 1px $primario solid;
    border-radius:6px ;
    button.button-login {
        margin: auto;
        width: 250px;
        border-radius: 20px;
    }
    button.button-login:hover {
        background: rgba(199, 0, 57);
        color: #ffffff;
        cursor: pointer;
    } 
    button mat-icon.icon {
        color:rgba(199, 0, 57);
    }
    button icon.icon.color-primario {
        color:rgba(199, 0, 57)!important;
    }
    input:focus {
        background: transparent;
    }
} */
