
<!-- LOGIN -->
<div class="section" *ngIf="!isLogged$">
	<form class="login" (submit)="login()">
		<!-- USER -->
		<mat-form-field appearance="outline" aria-autocomplete="none">
			<mat-label> User </mat-label>
			<input matInput placeholder="User" type="text" name="user" [(ngModel)]="user" autocomplete="none">
		</mat-form-field>				
		<!-- PASSWORD -->
		<mat-form-field appearance="outline">
			<mat-label> Password </mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password">
			<!-- ICON SHOW / HIDE PASSWORD -->
		</mat-form-field>
		<!-- BUTTON LOGIN -->
		<button class="button-login" mat-raised-button type="submit" (click)="login()"> Log In </button>
	</form>
</div>
<!-- PLAYERS -->
<div class="wrapper" *ngIf="isLogged$">
	<form class="form" (submit)="onSubmit(participante)">
		<!-- PLAYER NAME -->
		<mat-form-field appearance="outline">
			<input matInput [placeholder]="'Agregar Participante'" name="participante" [(ngModel)]="participante">
		</mat-form-field> 
		<!-- PLAYERS inscriptos -->
		<mat-form-field appearance="outline">
			<input disabled matInput [placeholder]="'quedan '+ items.length">
		</mat-form-field>
		<!-- SAVE DATA -->
		<button class="btn-save"  mat-button type="submit" (click)="save()"> Guardar </button>
		<button color="accent"  mat-raised-button type="submit" (click)="clear()"> Clear</button>
	</form>
	<div class="wrap" >
		<!-- PLAYERS -->
		<mat-list>
			<mat-list-item *ngFor="let item of items" >
				
				<span (click)="item.isWinner = !item.isWinner">
					{{ item.name}}
				</span>
				<mat-checkbox matPrefix [(ngModel)]="item.isWinner"></mat-checkbox>
			</mat-list-item>
			
		</mat-list>
	</div>
	<!-- MAYBE SE VA LA VERGA -->
	<div class="button-shuffle">
		<button mat-raised-button type="button" (click)="nextRound(next)">
			next round !
		</button>
	</div>
</div>


