@import '../../../styles.scss';

.wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,.5) 0%, rgba(118,9,121,.5) 35%, rgba(0,212,255,.5) 100%);
    
}
.wrapper form.form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 700px;
    height: 200px;
    background-color: $primario;
    border: 2px solid $secundario;
    border-radius: 4px;
    background-color:#000000!important;     
}
.wrapper .wrap {
      // rgb(2,0,36)!important;
    margin-top: auto;
    border-radius: 4px;
    background-color:#000000!important;
    border: 1px solid $primario;
    width: 700px;
    > mat-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
mat-form-field {
    color: #000000; 
}
.form .btn-save {
    border: 1px solid transparent;
    border-radius: 5px;
    &.btn-save:hover {
        border: 1px solid $secundario;
        background-color: $primario;
        color: #ffffff;
        transition: all 1.5s ease;
    }
    
}
.button-shuffle {
    border: 1px transparent solid;
    border-radius: 5px;
    align-self: center;
    margin: auto;
    margin-right:800px;
    button { 
        width: 200px;
        font-weight: bold;
        font-size: 1.5em;
    }
}
.wrapper form.form {
    background: linear-gradient(to left, $secundario)!important;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    form.login {
        height: 400px!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        > .mat-form-field {
            margin: auto;
            width: 60%;
        }
    }
}
form.login {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(118,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 1px $primario solid;
    border-radius:6px ;
    button.button-login {
        margin: auto;
        width: 250px;
        border-radius: 20px;
    }
    button.button-login:hover {
        background: rgba(199, 0, 57);
        color: #ffffff;
        cursor: pointer;
    } 
    button mat-icon.icon {
        color:rgba(199, 0, 57);
    }
    button icon.icon.color-primario {
        color:rgba(199, 0, 57)!important;
    }
    input:focus {
        background: transparent;
    }
}
