/* You can add global styles to this file, and also import other style files */
$primario       : #9D4EDD;//
$secundario     : #FF5733;
$rosaditto      : #D11481;
$padding-default: 12px;
*, body {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit;
	vertical-align: baseline; */
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
	
}